body {
  width: 100%;
  min-height: 100vh;
  background: rgba(60, 60, 192, 0.733) no-repeat right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0;
  padding: 0;
}

#timer {
  height: fit-content;
  display: flex;
  flex-direction: row;
  border: solid 1px bisque;
  transform: scale(2);
  overflow: hidden;
}

h1 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 80px;
  width: 100%;
  max-width: 500px;
}

.time-div {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  color: #f0f0f0;
}

.time h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
  margin: 0 0 5px;
}

.png {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 180px;
}

img {
  display: flex;
  height: auto;
  max-height: 500px;
  width: auto;
}

@media (min-width:300px) and (max-width: 556px) {
  h1 {
    font-size: 5px; /* Adjust the font-size to your preference */
    margin-bottom: 60px;
  }
  
  .time-div {
    margin-top: 0;
  }
  .time h2 {
    font-size: 4px;
  }
#timer {
  transform: scale(0.1);
  padding-left: 22px;
}

  .png {
    margin: 0;
    margin-top: 20px;
  }
  
  img {
    margin-top: 10px;
    height: 180px;
  }
}
@media (max-width: 557px) {
  h1 {
    font-size: 25px; /* Adjust the font-size to your preference */
    margin-bottom: 60px;
  }
  
  .time-div {
    margin-top: 0;
  }
  .time h2 {
    font-size: 15px;
  }
#timer {
  transform: scale(1.5);
}

  .png {
    margin: 0;
    margin-top: 20px;
  }
  
  img {
    margin-top: 10px;
    height: 400px;
  }
}


@media (min-width: 558px) and (max-width: 767px) {
  h1 {
    font-size: 35px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  
  .png {
    margin-left: 0;
    margin-top: 40px;
  }

  img {
    margin-top: 20px;
  }
}

